
<nav align="center">
  <a routerLink="/">[Home] </a>
  <a routerLink="/list">[Lista] </a>
  <a routerLink="/diretives">[Diretives] </a>
  <a routerLink="/emitter">[Emitter] </a>
  <a routerLink="/eventos">[Eventos] </a>
  <a routerLink="/if-render">[If-Render] </a>
  <a routerLink="/parent-data">[Parent-Data] </a>
  <a routerLink="/pipes">[Pipes] </a>
  <a routerLink="/two-way-binding">[Two-Way-Binding] </a>
  <br>
</nav>
<div class="class">
<h1 align="center">Hello Word Angular!</h1>
</div>
<router-outlet></router-outlet>



